doctype html
html
	head
		title Jade-PHP testing
	body
		table(style="white-space: no-wrap; display:inline-block; background-color: #3B8FC6")
			tr
				td
					span hi
				td
					span looser
			tr
				td
					span How
				td
					span are
				td
					span you
				td
					span !



						

